@using RC2K.Presentation.Shared.ViewModels

<nav style="margin-top: 10px;">
    <ol class="breadcrumb">
        @foreach (var link in Links.OrderBy(x => x.OrderIndex))
        {
            if (link.IsActive)
            {
                <li class="breadcrumb-item active mt-bread-item" aria-current="page">@link.Title</li>
            }
            else
            {
                <li class="breadcrumb-item"><a class="mt-bread-item-link" href="@link.Address">@link.Title</a></li>
            }
        }
    </ol>
</nav>
@code {
    [Parameter]
    public List<ViewModels.BreadcrumbLink> Links { get; set; }
    protected override Task OnParametersSetAsync() => base.OnParametersSetAsync();
    }