@using RC2K.Presentation.Shared.Layout
@using RC2K.Presentation.Shared.ViewModels
@using Microsoft.JSInterop

@inject HeaderViewModel viewModel
@typeparam TNavMenu where TNavMenu : BaseNavMenu

<header @ref=headerElement class="@(NavClass)">
    <div class="header-pre-box"></div>
    <div class="header-main-box">
        <img src="_content/RC2K.Presentation.Shared/img/layout/Logo2.png" />
        <div class="header-nav-menu">
            <div class="header-nav-fake-gradient" />
            <DynamicComponent Type="typeof(TNavMenu)" Parameters="_navMenuParams" />
        </div>
    </div>
    <div class="header-post-box"></div>
</header>

<script>

    function observeHeader(element, dotNetObjRef) {

        const observer = new IntersectionObserver(
            async ([e]) => {
                let isSticked = e.intersectionRatio < 0.99;
              await dotNetObjRef.invokeMethodAsync('SetIsSticked', isSticked);
            },
            { threshold: [0.99] });

        observer.observe(element);
    }

</script>

@code {

    @inject IJSRuntime JSRuntime;
    public ElementReference headerElement;


    [JSInvokable]
    public Task SetIsSticked(bool sticked)
    {
        viewModel.NavIsSticked = sticked;
        return Task.CompletedTask;
    }

    private Dictionary<string, object> _navMenuParams;

    protected override void OnInitialized()
    {
        viewModel.PropertyChanged += (s, e) =>
        {
            InvokeAsync(() => StateHasChanged());
        };

        _navMenuParams = new() {
            { "MenuItems", viewModel.MenuItems }
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var reference = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("observeHeader", headerElement, reference);
        }
    }

    private string NavClass => viewModel.NavIsSticked ? "sticked" : string.Empty;

}