.login-btn {

    border-radius: 5em;
    margin: 10px;
    
    transition: transform .2s ease;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

}

.login-btn:hover {
    /*transform: scale(1.02);*/
    transform: scale(0.5);
}