@page "/"
@page "/home"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using RC2K.DataAccess.Interfaces
@using RC2K.DataAccess.Interfaces.Repositories
@using RC2K.Logic.Interfaces

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

