::deep .button-xs {
    padding: 2px 2px !important;
    font-size: .65rem !important;
    min-width: 12px !important;
}

::deep .button-xs > .mud-button-label {
    min-width: 12px !important;
}


.card {
    border-radius: 0.375rem;
    padding: 0.5rem;
    box-shadow: 0px 0.5px 0.7px rgba(0, 0, 0, 0.072), 0px 1.6px 2.5px rgba(0, 0, 0, 0.108), 0px 7px 11px rgba(0, 0, 0, 0.18);
    background-color: var(--primary50);
}

.card-body
{
    margin: 0.5rem 0;
}

.times-table {
    margin: 0;
    padding: 0 0.5rem;
}

    .times-table > *:nth-child(18n+10),
    .times-table > *:nth-child(18n+11),
    .times-table > *:nth-child(18n+12),
    .times-table > *:nth-child(18n+13),
    .times-table > *:nth-child(18n+14),
    .times-table > *:nth-child(18n+15),
    .times-table > *:nth-child(18n+16),
    .times-table > *:nth-child(18n+17),
    .times-table > *:nth-child(18n+18) {
        background-color: var(--primary100);
    }

    .th-header {
        font-weight: bold;
    }

.item {
    padding: 15px;
    position: relative;
}

.container {
    --splitter-color: #0000005c;
    --splitter-thick: 4px;
    display: flex;
}

.stage-info::before {
    z-index: -1;
    position: absolute;
    border-right: solid var(--splitter-color) var(--splitter-thick);
    border-bottom: solid var(--splitter-color) var(--splitter-thick);
    top: 20px;
    left: 50px;
    right: calc(-1 * var(--splitter-thick) / 2);
    bottom: calc(-1 * var(--splitter-thick) / 2);
    content: '';
}
.stage-description::before {
    z-index: -1;
    position: absolute;
    border-bottom: solid var(--splitter-color) var(--splitter-thick);
    border-top: solid var(--splitter-color) var(--splitter-thick);
    top: calc(-1 * var(--splitter-thick) / 2);
    left: calc(var(--splitter-thick) / 2);
    right: 50px;
    bottom: calc(-1 * var(--splitter-thick) / 2);
    content: '';
}

.stage-times::before {
    z-index: -1;
    position: absolute;
    border-right: solid var(--splitter-color) var(--splitter-thick);
    top: calc(var(--splitter-thick) / 2);
    left: calc(-1 * var(--splitter-thick) / 2);
    right: calc(-1 * var(--splitter-thick) / 2);
    bottom: -100px;
    content: '';
}

.left-box {
    display: contents;
}
.right-box {
    display: contents;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .stage-info {
        order: 1;
    }

    .stage-img {
        order: 2;
    }

    .stage-description {
        order: 3;
    }

    .stage-times {
        order: 4;
    }

    .stage-points {
        order: 5;
    }

    .stage-map {
        order: 6;
    }

    .stage-altitude {
        order: 7;
    }
}
@media (min-width: 769px) {

    .left-box {
        width: 60%;
        display: flex;
        flex-direction: column;
    }
    .right-box {
        width: 40%;
        display: flex;
        flex-direction: column;
    }


}
