@rendermode InteractiveServer

@inherits BaseNavMenu

<nav>
    @foreach (var menuItem in MenuItems)
    {
        if (menuItem.Item == "Admin")
        {
            <AuthorizeView Roles="admin">
                <Authorized>
                    @RenderMenuItem(menuItem)
                </Authorized>
            </AuthorizeView>
        }
        else
        {
            @RenderMenuItem(menuItem)
        }
    }

    <Profile />

</nav>
