
@inherits LayoutComponentBase

<MudThemeProvider Theme="Rc2kColorPallete.MyCustomTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider  />


<div class="page">
    <Header TNavMenu="AppNavMenu" />
    <main>
        <BreadcrumbsNavigation />
        <MyErrorBoundary @ref="_errorBoundary">
            <ChildContent>
                <article class="content">@Body</article>
            </ChildContent>
            <ErrorContent>
                <div background="red">ERROR</div>
            </ErrorContent>
        </MyErrorBoundary>
    </main>

    <Footer />
</div>



@code {

    ErrorBoundary? _errorBoundary;

    protected override void OnParametersSet()
    {
        _errorBoundary?.Recover();
    }
}