
@inherits LayoutComponentBase

<MudThemeProvider Theme="App.MyCustomTheme" />
<MudPopoverProvider @rendermode="InteractiveServer" />
<MudDialogProvider @rendermode="InteractiveServer" />
<MudSnackbarProvider @rendermode="InteractiveServer" />


    <div class="page">
        <Header />
        <main>
            <BreadcrumbsNavigation />
            <MyErrorBoundary @ref="_errorBoundary">
              <ChildContent >
                <article style="" class="content">@Body</article>
              </ChildContent>
              <ErrorContent>
                <div background="red">ERROR</div>
              </ErrorContent>
            </MyErrorBoundary>
        </main>

        <Footer />
    </div>
 
  
 
@code {
  ErrorBoundary _errorBoundary;

  protected override void OnParametersSet()
  {
    _errorBoundary?.Recover();
  }
}