@rendermode InteractiveServer

@inject ICarService CarService

<MudSelect T="Car"
           Value="SelectedCar"
           ValueChanged="HandleSelectedCarChange"
           Label="Car"
           Variant="Variant.Outlined"
           Dense="true">
    @foreach (var car in _cars.OrderByDescending(x => x.Class == Car.BonusClass ? 0 : x.Class).ThenBy(x => x.Id))
    {
        <MudSelectItem T="Car" Value="@car">
            <div style="display: flex;">
                <div class="car-big" data-car-id="@(car.Id - 1)"></div>
                <span>@($"A{car.Class} - {@car.Name}")</span>
            </div>
        </MudSelectItem>
    }
</MudSelect>

@code {

    [Parameter]
    public Car? SelectedCar { get; set; }
    
    [Parameter]
    public EventCallback<Car?> SelectedCarChanged { get; set; }

    private List<Car> _cars = [];
    public event EventHandler<Car?>? OnSelectedCarChanged;

    protected override async Task OnInitializedAsync()
    {
        _cars = await CarService.GetAll();
    }

    private async Task HandleSelectedCarChange(Car? newCar)
    {
        if (SelectedCar != newCar)
        {
            SelectedCar = newCar;
            await SelectedCarChanged.InvokeAsync(newCar); // Notify the parent
            OnSelectedCarChanged?.Invoke(this, newCar); // Notify the parent
        }
    }

}
