::deep .mud-table-row:nth-child(odd):not(.ranking-list-table-user-row) .mud-table-cell.sticky-left {
    background-color: white !important;
}

::deep .mud-table-row.ranking-list-table-user-row:nth-child(odd) .mud-table-cell.sticky-left {
    background-color: inherit !important;
}

::deep .mud-table-row:nth-child(even) .mud-table-cell.sticky-left {
    background-color: inherit;
}

::deep .ranking-list-table-user-row {
    background-color: var(--complementary200);
}

::deep .ranking-list-table-even-row {
    background-color: var(--primary50);
}

::deep .mud-table-cell {
    padding: 8px 12px !important;
}

::deep .mud-table-container {
    min-width: 100%;
}
