@using RC2K.DomainModel
@using RC2K.Logic
@using RC2K.Logic.Interfaces
@using RC2K.Presentation.Blazor.ViewModels
@rendermode InteractiveServer
@inject IStageService StageService
@inject ITimeEntryService TimeEntryService
@inject IDriverService DriverService
@inject ICarService CarService
@inject IPointsProvider PointsProvider
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IUserService UserService


<div class="d-flex flex-column">

  <MudPaper Class="pa-4" style="margin: auto;" MaxWidth="50ch">
    <MudForm Class="gap-5">
      <div style="display: flex; gap: 1em;">
        <MudTextField T="int"
                      Label="min"
                      @bind-Value="UploadTimeModel.Min" />
        <MudTextField T="int"
                      Label="sec"
                      @bind-Value="UploadTimeModel.Sec" />
        <MudTextField T="int"
                      Label="cc"
                      @bind-Value="UploadTimeModel.Cc" />
      </div>
      <MudTextField T="string"
                    Label="Driver name"
                    @bind-Value="UploadTimeModel.DriverName" />

      <CarSelector @ref="_carSelector" SelectedCar="@UploadTimeModel.Car" /> 

      <MudTextField T="string"
                    Label="Proofs"
                    @bind-Value="UploadTimeModel.Proofs" />

      <MudButton Variant="Variant.Filled"
                 Color="Color.Primary"
                 Class="ml-auto"
                 OnClick="UploadClick">Upload</MudButton>
    </MudForm>
  </MudPaper>

  <MudButton OnClick="OnCloseButtonClicked"
             Class="ml-auto mr-n3 mb-1"
             Color="Color.Error">Close</MudButton>

</div>




@code {

  CarSelector _carSelector;

  protected override void OnAfterRender(bool firstRender)
  {
    if (!firstRender)
    {
      return;
    }
    _carSelector.OnSelectedCarChanged += (_,c) =>
    {
      UploadTimeModel.Car = c;
    };
  }

  protected override async Task OnInitializedAsync()
  {
    UploadTimeModel.DriverName = await UserService.GetCurrentUserName();
  }

    [Parameter] public int StageId { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnCloseButtonClicked { get; set; }

    UploadTimeModelType UploadTimeModel = new();

  public class UploadTimeModelType
  {
    public int Min { get; set; }
    public int Sec { get; set; }
    public int Cc { get; set; }
    private Car _car;
    public Car Car 
    { 
        get => _car;
        set
      {
        _car = value;
      }
    }
  public string Proofs { get; set; }
    public string DriverName { get; set; }
  }

  private async Task UploadClick()
  {
    var driver = await DriverService.GetByName(UploadTimeModel.DriverName);
    if (driver is null || !driver.Known)
    {
      // TODO: handle adding times for anonymous drivers
      throw new Exception("Currently adding times for not logged in drivers is not supported");
      return;
    }

    await TimeEntryService.Upload(
      StageId,
      UploadTimeModel.Car.Id,
      driver.Id,
      UploadTimeModel.Min,
      UploadTimeModel.Sec,
      UploadTimeModel.Cc,
      [new Proof() { Url = UploadTimeModel.Proofs }],
      null
      );

    Snackbar.Add($"Uploaded. Refresh to see.", Severity.Success, config =>
    {
    config.ShowCloseIcon = true;
    config.VisibleStateDuration = 10000;
    });
  }

}
