@using RC2K.DomainModel.Exceptions
@using Microsoft.AspNetCore.Components.Routing
<!DOCTYPE html>
<html lang="en">

<head>
    <title>RC2K Hub</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/RC2K.Presentation.Shared/reset.css" />
    <link rel="stylesheet" href="_content/RC2K.Presentation.Shared/app.css" />
    <link rel="stylesheet" href="car-sprite.css" />
    <link rel="stylesheet" href="RC2K.Presentation.Blazor.styles.css" />
    <link rel="icon" type="image/png" href="_content/RC2K.Presentation.Shared/favicon.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Viga&family=Anta&display=swap" rel="stylesheet">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
    <script src="mapInterop.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css?v=@(MudBlazor.Metadata.Version)" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css" />
    <HeadOutlet />
</head>

<body onload="(() => setRecaptchaVisibility(false))()">
    <Routes @rendermode="GetRenderMode(HttpContext)" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js?v=@(MudBlazor.Metadata.Version)"></script>
    <script src="_content/Blazor-Analytics/blazor-analytics.js"></script>

      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-TBW7LHNXJF"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-TBW7LHNXJF');
      </script>


  <!-- Google reCAPTCHA -->
  <script src=@($"https://www.google.com/recaptcha/api.js?render={_recaptchaSiteKey}")></script>
  <script>
    runCaptcha = function() {
      return new Promise((resolve, reject) => {
        grecaptcha.ready(function () {
          grecaptcha.execute('@($"{_recaptchaSiteKey}")', { action: 'submit' }).then(function (token) {
            resolve(token);
          });
        });
      });
    };
  </script>
  <script>
    setRecaptchaVisibility = function (visible) {
      const badge = document.querySelector('.grecaptcha-badge');
      if (badge) {
          badge.style.display = visible ? 'block' : 'none';
      }
    };
  </script>

    <script>
        window.initializeInactivityTimer = () => {
            let timeoutDuration = 5 * 60 * 1000; // 5 Minutes in milliseconds (5 * 60 * 1000)
            let timeoutTimer;

            function resetTimer() {
                clearTimeout(timeoutTimer);
                timeoutTimer = setTimeout(() => {
                    if (window.Blazor) {
                        console.log("User inactive for 5 minutes. Disconnecting circuit...");
                        window.Blazor.disconnect();
                    }
                }, timeoutDuration);
            }

            // DOM events that indicate the user is active
            window.onload = resetTimer;
            document.onmousemove = resetTimer;
            document.onkeypress = resetTimer;
            document.onclick = resetTimer;
            document.onscroll = resetTimer;

            // Start the timer
            resetTimer();
        };

        // Initialize after the Blazor script is loaded
        document.addEventListener("DOMContentLoaded", function () {
            if (window.Blazor) {
                window.initializeInactivityTimer();
            }
        });
    </script>

</body>

</html>


@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; } = default!;

    private static IComponentRenderMode? GetRenderMode(HttpContext context)
    {
        var path = context.Request.Path.Value ?? "";

        if (path.StartsWith("/login", StringComparison.OrdinalIgnoreCase) ||
            path.StartsWith("/logout", StringComparison.OrdinalIgnoreCase))
        {
            return null; // trigger Static SSR
        }

        return InteractiveServer;
    }
}

@code
{
    private readonly string _recaptchaSiteKey;

    public App(IConfiguration configuration)
    {
        _recaptchaSiteKey = configuration["Captcha:SiteKey"] ?? throw new MissingConfigurationKeyException("Captcha:SiteKey");
    }
}