<!DOCTYPE html>
<html lang="en">

<head>
    <title>RC2K Hub</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="reset.css"
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="RC2K.Presentation.Blazor.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
    <script src="mapInterop.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css?v=@(MudBlazor.Metadata.Version)" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <NavigationTracker />
    <MatPortalHost></MatPortalHost>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js?v=@(MudBlazor.Metadata.Version)"></script>
    <script src="_content/Blazor-Analytics/blazor-analytics.js"></script>

      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-TBW7LHNXJF"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-TBW7LHNXJF_ID');
      </script>


</body>

</html>




@code
{
  public class MyColors
  {
    public const string primary50 = "#e8eaf7";
    public const string primary100 = "#c5c9ea";
    public const string primary200 = "#a0a6dc";
    public const string primary300 = "#7a83ce";
    public const string primary400 = "#5d67c3";
    public const string primary500 = "#424cb8";
    public const string primary600 = "#3c44ae";
    public const string primary700 = "#333aa2"; // <-- primary
    public const string primary800 = "#2b3096";
    public const string primary900 = "#1d1d82";

    public const string complementary50 = "#fafbe8";
    public const string complementary100 = "#f2f3c5";
    public const string complementary200 = "#e9eca0";
    public const string complementary300 = "#e1e57b";
    public const string complementary400 = "#dade60";
    public const string complementary500 = "#d4d946";
    public const string complementary600 = "#c6c741";
    public const string complementary700 = "#b4b139";
    public const string complementary800 = "#a29b33"; // <-- secondary
    public const string complementary900 = "#847528";

    public const string gray50 = "#FAFAFA";
    public const string gray100 = "#F5F5F5";
    public const string gray200 = "#EEEEEE";
    public const string gray300 = "#E0E0E0";
    public const string gray400 = "#BDBDBD";
    public const string gray500 = "#757575";
    public const string gray600 = "#757575";
    public const string gray700 = "#616161";
    public const string gray800 = "#424242";
    public const string gray900 = "#212121";

    public const string primary = primary700;
    public const string complementary = complementary800;
  }


  public static MudTheme MyCustomTheme = new MudTheme()
  {
    PaletteLight = new PaletteLight()
    {
      Primary = MyColors.primary700,
      Secondary = MyColors.complementary800,
    },
    PaletteDark = new PaletteDark()
    {
      Primary = MyColors.primary200,
      Secondary = MyColors.complementary100
    },
  };

}