@inherits ComponentBase

<div>
<div class="the-background">
    <div class="aurora-text">
        RC2K Hub
    </div>
    <div class="subtext">
        <div class="subtext-content">
            <span class="subtext-item">Compete</span>
            <span class="subtext-item">*</span>
            <span class="subtext-item">Explore</span>
            <span class="subtext-item">*</span>
            <span class="subtext-item">Showcase</span>
        </div>
        <div class="subtext-underscore">
            <div class="subtext-underscore-long"></div>
            <div class="subtext-underscore-short"></div>
        </div>
    </div>
</div>
</div>

