@using Microsoft.JSInterop
@using RC2K.Presentation.Shared.ViewModels
@inject IJSRuntime JSRuntime;

<style>


</style>

<div class="page-card-3">

    <h1>
        Ranking System
    </h1>
    <h3>
        Earn points your own way. Whether you're a speed demon or a creative modder, there’s a path to the top of the leaderboard.

    </h3>

    <div class="cards">
        <div class="big-cards-box">
            <div id="big-card-overall" class="big-card is-active">
                <svg viewBox="-6 -6 36 36" style="float: right;">
                    <circle cx="12" cy="12" r="16" stroke="gray" stroke-width="2" fill="white" />
                    @((MarkupString)IconMapper.Thin(Icon.Score))
                </svg>

                <h4>High Priority</h4>
                <h2>Overall Rankings</h2>
                <h3>The most prestigious points for the fastest times.</h3>
                <article>
                    <div class="small">
                        For each stage we have a general classification (separate for simulation and for arcade version).
                        Top 30 different drivers will receive points depending on place they are taking [...]
                    </div>
                    <div class="big">
                        For each stage we have a general classification (separate for simulation and for arcade version).
                        Top 30 different drivers will receive points depending on place they are taking according to the points system known from
                        <a href="https://en.wikipedia.org/wiki/FIS_Ski_Jumping_World_Cup">ski jumping</a> (100, 80, 60, 50, ...).
                        If any driver has two best times gain with separate cars, third time entry will gain points for 2nd place

                        <div style="margin-left: 20px;">
                            <ul>
                                <li>1. A | 1:00 | Subaru (+100)</li>
                                <li>2. A | 1:03 | Seat</li>
                                <li>3. B | 1:05 | Peugeot (+80)</li>
                                <li>3. C | 1:05 | Seat  (+80)</li>
                                <li>5. D | 1:09 | Subaru (+50)</li>
                            </ul>
                        </div>
                        In the example above ene though player B is third, he is 2nd in general classification
                        distinct by drivers so he gets 80 points - the same as player C,
                        because their times are equal. Player D is 4th, so he gets 50 points.
                    </div>
                </article>
            </div>
            <div id="big-card-car" class="big-card">
                <svg viewBox="-6 -6 36 36" style="float: right;">
                    <circle cx="12" cy="12" r="16" stroke="gray" stroke-width="2" fill="white" />
                    @((MarkupString)IconMapper.Thin(Icon.Car))
                </svg>

                <h4>Tiered</h4>
                <h2>Car Classes</h2>
                <h3>The more important is class, more points you get.</h3>
                <article>
                    <div class="small">
                        What if you like to drive with car that is not the fastest in the game... you won't be able to get a lot of points in general classification, but [...]
                    </div>
                    <div class="big">
                        What if you like to drive with car that is not the fastest in the game... you won't be able to get a lot of points in general classification,
                        but still you can be the best in per-car classification. Every car is different, so every car has it's own ranking.
                        But we used a heuristic, that there will be the most time entries with "the best cars",
                        so being competitive in A8 cars league seams to be more advanced than being top player in A6 cars league with few players.
                        To be precise: for every car top 5 players will receive points depending on car class.
                        <div style="margin-left: 20px;">
                            <ul>
                                <li>A8: 30, 24, 18, 12, 6</li>
                                <li>A7: 20, 16, 12, 8, 4</li>
                                <li>A6: 20, 16, 12, 8, 4</li>
                                <li>A5: 10, 8, 6, 4, 2</li>
                                <li>Bonus: 10, 8, 6, 4, 2</li>
                            </ul>
                        </div>
                        We do encourage you to put multiple times on the same stage with different car, it will be fun!
                    </div>
                </article>
            </div>
            <div id="big-card-bonus" class="big-card">
                <svg viewBox="-6 -6 36 36" style="float: right;">
                    <circle cx="12" cy="12" r="16" stroke="gray" stroke-width="2" fill="white" />
                    @((MarkupString)IconMapper.Thin(Icon.Dolar))
                </svg>
                <h4>+500 PTS</h4>
                <h2>Contest Victory</h2>
                <h3>Massive bonuses for winning official tournaments.</h3>
                <article>
                    <div class="small">
                        Events in our community are extremely important so we want to award winners. [...]
                    </div>
                    <div class="big">
                        Events in our community are extremely important so we want to award winners. For winning competitions drivers will receive one-time bonus points.
                        Of course the most prestige competition is MFMI, so every top 10 players gets points: 500, 400, 300, 250, 200, 150, 100, 75, 50, 25.
                        Feel free to organize more competitions so that we can note and add bonus points for best players!
                    </div>
                </article>
            </div>
            <div id="big-card-showcase" class="big-card">
                <svg viewBox="-6 -6 36 36" style="float: right;">
                    <circle cx="12" cy="12" r="16" stroke="gray" stroke-width="2" fill="white" />
                    @((MarkupString)IconMapper.Thin(Icon.Like))
                </svg>
                <h4>Coming Soon</h4>
                <h2>Showcases & Kudos</h2>
                <h3>Massive bonuses for winning official tournaments.</h3>
                <article>
                    <div class="small">
                        For Rally Championship community it is not only about being the fastest, but it also matters if you have some nice screenshots, [...]
                    </div>
                    <div class="big">
                        For Rally Championship community it is not only about being the fastest, but it also matters if you have some nice screenshots, videos with crashes or flips and other medias.
                        Or maybe you are a talented skin-maker...? Soon, you'll be able to publish your <strong>videos, photos, mods, and skins</strong>. Other users will be able to view your work
                        and award it via kudos that will give you ranking points!
                    </div>
                </article>
            </div>

        </div>
        <div class="small-card-box">
            <div tabindex="0" id="small-card-overall" class="small-card is-active"></div>
            <div tabindex="0" id="small-card-car" class="small-card"></div>
            <div tabindex="0" id="small-card-bonus" class="small-card"></div>
            <div tabindex="0" id="small-card-showcase" class="small-card"></div>
        </div>
    </div>
</div>


<script>

    function copyChildren(srcId, dstId) {
        const src = document.getElementById(srcId);
        const dst = document.getElementById(dstId);
        if (src && dst) {
            Array.from(src.children).forEach(child => {
                const clone = child.cloneNode(true);
                dst.appendChild(clone);
            });
        }
    }

    function copyCards() {
        copyChildren('big-card-overall','small-card-overall');
        copyChildren('big-card-car','small-card-car');
        copyChildren('big-card-bonus','small-card-bonus');
        copyChildren('big-card-showcase','small-card-showcase');
    }

    function registerBindings() {

        const allBigIds = [
            'big-card-overall',
            'big-card-car',
            'big-card-bonus',
            'big-card-showcase'
        ];

        registerCardBinding('small-card-overall','big-card-overall', allBigIds.filter(x => x != 'big-card-overall'));
        registerCardBinding('small-card-car','big-card-car', allBigIds.filter(x => x != 'big-card-car'));
        registerCardBinding('small-card-bonus','big-card-bonus', allBigIds.filter(x => x != 'big-card-bonus'));
        registerCardBinding('small-card-showcase','big-card-showcase', allBigIds.filter(x => x != 'big-card-showcase'));
    }


    function init() {
        copyCards();
        registerBindings();
    }

    function registerCardBinding(smallCardId, bigCardId, deactivateOther) {

        const smallCard = document.getElementById(smallCardId);
        const bigCard = document.getElementById(bigCardId);

        smallCard.addEventListener('focusin', () => {
            bigCard.classList.add('is-active');
            smallCard.classList.add('is-active');
            deactivateOther.forEach(async (x) => {
                document.getElementById(x).classList.remove('is-active');
                document.getElementById(x.replace("big", "small")).classList.remove('is-active');
            });
        });
    }

 
</script>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("init");
        }
    }


}